*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, #272121 0%, rgb(172, 232, 148, .75) 100%);
}

.calc-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    gap: 10px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calc-grid button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #443737;
    outline: none;
    background-color: #272121;
    color: #443737;
}

.calc-grid button:hover {
    background-color: #4a3d3d;
    border-radius: .5em;
    transition: 0.3s;
}

.calc-grid button:active {
    color: red;
}

.span-two {
    grid-column: span 2;
}

.calc-screen {
    grid-column: 1 / -1;
    background-color: #443737;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.calc-screen .previous-operand {
    color: #ACE894;
    font-size: 1.5rem;
}

.calc-screen .current-operand {
    color: #D72638;
    font-size: 2.5rem;
}

/* body {
    background-color: #1A090D;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}

.calc-body {
    background-color: #6B6570;
    height: 500px;
    width: 375px;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-sizing: border-box;
    box-shadow: rgba(172, 232, 148, 0.75) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.calc-screen {
    border: 2px solid #4A314D;
    background-color: #75826b;
    border-radius: 1em;
    height: 100px;
    width: 340px;
    margin-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#calc-text {
    font-size: 40px;
    text-align: right;
    margin-right: 12px;
    color: #ACE894;
}

#calc-text:hover {
    color: #D72638;
}

.calc-screen p::after {
    content: "";
    width: 5px;
    height: 29px;
    background: #A8BA9A;
    display: inline-block;
    margin-left: 2px;
    animation: cursor-blink 1.5s steps(2) infinite;
}

.button-container {
    height: 360px;
    width: 340px;
}

button {
    flex-wrap: wrap;
    height: 65px;
    width: 82px;
    background-color: #A8BA9A;
    color: #6B6570;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#clear {
    height: 65px;
    width: 335px;
}

button:active {
    color: #ACE894;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
} */